<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Task1">
    <classes>
      <class name="testNG1.ActitimeTestScenario2chrome"/>
      <class name="testNG1.ActitimeTestScenario3Firefox"/>
    </classes>
  </test> <!-- Task1 -->
</suite> <!-- Suite -->
